html {
    font-family: cursive;
}

h1{
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 5rem auto;
}

h2{
    font-size: 1.3rem;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-left: 3rem;
}

h3{
    
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    margin-left: 5rem;
}

.card {
    margin: 5rem 10rem;
    font-size: 2rem;
}